@import '~styles/helpers/_module';

$row-height: 120px;

:host {
	position: sticky;
	top: 0;
	width: 100%;
	display: block;
	box-shadow: 0px 7px 100vh 0px #00000029;
	background: white;
	min-height: $row-height;
	z-index: 4;

	.header {
		&__top {
			display: flex;
			width: 100%;
			justify-content: space-between;
			box-sizing: border-box;
			flex-grow: 0;
			flex-shrink: 1;
			&-navbar {
				display: flex;
				align-items: center;
			}
		}
		&__bottom {
			&-navbar {
				display: block;
			}
		}
		&__top-left {
			display: flex;
			height: $row-height;
			align-items: center;
		}
		&__hamburger {
			@include button($background-color: white);
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 42px;
			padding: 0 12px;
			margin-right: 6px;
		}
		&__shopping-cart-icon {
			@include clickable;
		}
		&__logo-image {
			&-wrapper {
				height: 100%;
				display: flex;
				align-items: center;
			}
			&.desktop {
				max-height: 80px;
			}
			max-height: 80px;
			@include clickable;
		}
	}
}
